* {
margin: 0;
box-sizing: border-box;
font-family: 'Oxygen', sans-serif;
}

body, body * {
    font-family: 'Oxygen', sans-serif;
}

h1 {
    font-weight: bold;
    margin-bottom: 25px;
}

h2 {
    font-weight: bold;
    font-size: 1.3em;
}
.navbar { 
    background-color: lightgrey;
    border-radius: 0;
}

#header-nav {
    border: 2px solid black;
    padding: 10px;
    
}

#header-nav a:hover , #header-nav a:focus {
    color:black;
}

.navbar-default .navbar-brand {
    color: black;
    font-weight: bold ;
    font-size: 2em;
}

#nav-list {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

#nav-list a:hover , #nav-list a:focus {
    background-color: darkgray;
}

.navbar-default .navbar-toggle {
    
    border: 2px solid black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
    border: 2px solid black;
}

.row {
    background-color: lightgray;
}

#khara {
    margin: 20px;
}


